<a href="https://colab.research.google.com/github/KendallScott/QTW/blob/main/Case%20Study%204/Case_Study_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [110]:
#Import the Libraries
from scipy.io import arff
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold, StratifiedKFold
from sklearn.metrics import precision_score, recall_score, f1_score, accuracy_score, classification_report

In [111]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [112]:
df = pd.DataFrame()
i=1
x=str(i)
while i <6:
  data = arff.loadarff('/content/drive/MyDrive/Case_Study_4_Data/'+x+'year.arff')
  df_alt = pd.DataFrame(data[0])
  df = df.append(df_alt)
  i+=1
  x=str(i)

df

<ipython-input-112-e97a0970fe91>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_alt)
<ipython-input-112-e97a0970fe91>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_alt)
<ipython-input-112-e97a0970fe91>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_alt)
<ipython-input-112-e97a0970fe91>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_alt)
<ipython-input-112-e97a0970fe91>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_alt)

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64,class
0,0.200550,0.37951,0.396410,2.04720,32.3510,0.38825,0.249760,1.33050,1.13890,0.504940,...,0.121960,0.397180,0.87804,0.001924,8.4160,5.1372,82.658,4.4158,7.42770,b'0'
1,0.209120,0.49988,0.472250,1.94470,14.7860,0.00000,0.258340,0.99601,1.69960,0.497880,...,0.121300,0.420020,0.85300,0.000000,4.1486,3.2732,107.350,3.4000,60.98700,b'0'
2,0.248660,0.69592,0.267130,1.55480,-1.1523,0.00000,0.309060,0.43695,1.30900,0.304080,...,0.241140,0.817740,0.76599,0.694840,4.9909,3.9510,134.270,2.7185,5.20780,b'0'
3,0.081483,0.30734,0.458790,2.49280,51.9520,0.14988,0.092704,1.86610,1.05710,0.573530,...,0.054015,0.142070,0.94598,0.000000,4.5746,3.6147,86.435,4.2228,5.54970,b'0'
4,0.187320,0.61323,0.229600,1.40630,-7.3128,0.18732,0.187320,0.63070,1.15590,0.386770,...,0.134850,0.484310,0.86515,0.124440,6.3985,4.3158,127.210,2.8692,7.89800,b'0'
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5905,0.012898,0.70621,0.038857,1.17220,-18.9070,0.00000,0.013981,0.41600,1.67680,0.293790,...,0.020169,0.043904,1.01220,1.259400,13.4720,12.4320,49.117,7.4313,2.27990,b'1'
5906,-0.578050,0.96702,-0.800850,0.16576,-67.3650,-0.57805,-0.578050,-0.40334,0.93979,-0.390040,...,-0.064073,1.482000,1.06410,-0.018084,110.7200,44.7590,81.220,4.4940,5.13050,b'1'
5907,-0.179050,1.25530,-0.275990,0.74554,-120.4400,-0.17905,-0.154930,-0.26018,1.17490,-0.326590,...,0.148880,0.548240,0.85112,-0.522430,9.8526,3.4892,207.870,1.7559,9.95270,b'1'
5908,-0.108860,0.74394,0.015449,1.08780,-17.0030,-0.10886,-0.109180,0.12531,0.84516,0.093224,...,-0.183200,-1.167700,1.18320,6.092400,13.8860,6.0769,83.122,4.3911,0.95575,b'1'
5909,-0.105370,0.53629,-0.045578,0.91478,-56.0680,-0.10537,-0.109940,0.86460,0.95040,0.463670,...,-0.052186,-0.227250,1.05220,0.003196,7.7332,4.7174,136.850,2.6672,2.79270,b'1'

In [113]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43405 entries, 0 to 5909
Data columns (total 65 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Attr1   43397 non-null  float64
 1   Attr2   43397 non-null  float64
 2   Attr3   43397 non-null  float64
 3   Attr4   43271 non-null  float64
 4   Attr5   43316 non-null  float64
 5   Attr6   43397 non-null  float64
 6   Attr7   43397 non-null  float64
 7   Attr8   43311 non-null  float64
 8   Attr9   43396 non-null  float64
 9   Attr10  43397 non-null  float64
 10  Attr11  43361 non-null  float64
 11  Attr12  43271 non-null  float64
 12  Attr13  43278 non-null  float64
 13  Attr14  43397 non-null  float64
 14  Attr15  43369 non-null  float64
 15  Attr16  43310 non-null  float64
 16  Attr17  43311 non-null  float64
 17  Attr18  43397 non-null  float64
 18  Attr19  43277 non-null  float64
 19  Attr20  43278 non-null  float64
 20  Attr21  37551 non-null  float64
 21  Attr22  43397 non-null  float64
 22  Attr23  43278 non-null  float64
 23  Attr24  42483 non-null  float64
 24  Attr25  43397 non-null  float64
 25  Attr26  43310 non-null  float64
 26  Attr27  40641 non-null  float64
 27  Attr28  42593 non-null  float64
 28  Attr29  43397 non-null  float64
 29  Attr30  43278 non-null  float64
 30  Attr31  43278 non-null  float64
 31  Attr32  43037 non-null  float64
 32  Attr33  43271 non-null  float64
 33  Attr34  43311 non-null  float64
 34  Attr35  43397 non-null  float64
 35  Attr36  43397 non-null  float64
 36  Attr37  24421 non-null  float64
 37  Attr38  43397 non-null  float64
 38  Attr39  43278 non-null  float64
 39  Attr40  43271 non-null  float64
 40  Attr41  42651 non-null  float64
 41  Attr42  43278 non-null  float64
 42  Attr43  43278 non-null  float64
 43  Attr44  43278 non-null  float64
 44  Attr45  41258 non-null  float64
 45  Attr46  43270 non-null  float64
 46  Attr47  43108 non-null  float64
 47  Attr48  43396 non-null  float64
 48  Attr49  43278 non-null  float64
 49  Attr50  43311 non-null  float64
 50  Attr51  43397 non-null  float64
 51  Attr52  43104 non-null  float64
 52  Attr53  42593 non-null  float64
 53  Attr54  42593 non-null  float64
 54  Attr55  43404 non-null  float64
 55  Attr56  43278 non-null  float64
 56  Attr57  43398 non-null  float64
 57  Attr58  43321 non-null  float64
 58  Attr59  43398 non-null  float64
 59  Attr60  41253 non-null  float64
 60  Attr61  43303 non-null  float64
 61  Attr62  43278 non-null  float64
 62  Attr63  43271 non-null  float64
 63  Attr64  42593 non-null  float64
 64  class   43405 non-null  object
dtypes: float64(64), object(1)
memory usage: 21.9+ MB

In [114]:
#df['Attr1'] = df[['Attr1','class']].groupby(by='class').transform(lambda grp: grp.fillna(pd.Series.mode(grp)[0]))


i=1
x=str(i)
while i <65:
  df['Attr'+x] = df[['Attr'+x,'class']].groupby(by='class').transform(lambda grp: grp.fillna(pd.Series.mode(grp)[0]))

  i+=1
  x=str(i)

df

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64,class
0,0.200550,0.37951,0.396410,2.04720,32.3510,0.38825,0.249760,1.33050,1.13890,0.504940,...,0.121960,0.397180,0.87804,0.001924,8.4160,5.1372,82.658,4.4158,7.42770,b'0'
1,0.209120,0.49988,0.472250,1.94470,14.7860,0.00000,0.258340,0.99601,1.69960,0.497880,...,0.121300,0.420020,0.85300,0.000000,4.1486,3.2732,107.350,3.4000,60.98700,b'0'
2,0.248660,0.69592,0.267130,1.55480,-1.1523,0.00000,0.309060,0.43695,1.30900,0.304080,...,0.241140,0.817740,0.76599,0.694840,4.9909,3.9510,134.270,2.7185,5.20780,b'0'
3,0.081483,0.30734,0.458790,2.49280,51.9520,0.14988,0.092704,1.86610,1.05710,0.573530,...,0.054015,0.142070,0.94598,0.000000,4.5746,3.6147,86.435,4.2228,5.54970,b'0'
4,0.187320,0.61323,0.229600,1.40630,-7.3128,0.18732,0.187320,0.63070,1.15590,0.386770,...,0.134850,0.484310,0.86515,0.124440,6.3985,4.3158,127.210,2.8692,7.89800,b'0'
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5905,0.012898,0.70621,0.038857,1.17220,-18.9070,0.00000,0.013981,0.41600,1.67680,0.293790,...,0.020169,0.043904,1.01220,1.259400,13.4720,12.4320,49.117,7.4313,2.27990,b'1'
5906,-0.578050,0.96702,-0.800850,0.16576,-67.3650,-0.57805,-0.578050,-0.40334,0.93979,-0.390040,...,-0.064073,1.482000,1.06410,-0.018084,110.7200,44.7590,81.220,4.4940,5.13050,b'1'
5907,-0.179050,1.25530,-0.275990,0.74554,-120.4400,-0.17905,-0.154930,-0.26018,1.17490,-0.326590,...,0.148880,0.548240,0.85112,-0.522430,9.8526,3.4892,207.870,1.7559,9.95270,b'1'
5908,-0.108860,0.74394,0.015449,1.08780,-17.0030,-0.10886,-0.109180,0.12531,0.84516,0.093224,...,-0.183200,-1.167700,1.18320,6.092400,13.8860,6.0769,83.122,4.3911,0.95575,b'1'
5909,-0.105370,0.53629,-0.045578,0.91478,-56.0680,-0.10537,-0.109940,0.86460,0.95040,0.463670,...,-0.052186,-0.227250,1.05220,0.003196,7.7332,4.7174,136.850,2.6672,2.79270,b'1'

In [115]:
import re

#binary logistic
# roc AUC scores
#precision
#recall
#accuracy
#90s (AUC)
#XGBoost and Random forest

#change where you round at for increases in  precision

In [116]:
df['class'].unique()

array([b'0', b'1'], dtype=object)

In [117]:
df['class'] = df['class'].astype(str)
df['class'] = df['class'].str.replace(r'[b]*', '')
df['class'] = df['class'].str.replace(r'[\']*', '')
df['class'] = df['class'].astype(object)

<ipython-input-117-17cd4efd115f>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['class'] = df['class'].str.replace(r'[b]*', '')
<ipython-input-117-17cd4efd115f>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df['class'] = df['class'].str.replace(r'[\']*', '')

In [118]:
df['class'].unique()

array(['0', '1'], dtype=object)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43405 entries, 0 to 5909
Data columns (total 65 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Attr1   43405 non-null  float64
 1   Attr2   43405 non-null  float64
 2   Attr3   43405 non-null  float64
 3   Attr4   43405 non-null  float64
 4   Attr5   43405 non-null  float64
 5   Attr6   43405 non-null  float64
 6   Attr7   43405 non-null  float64
 7   Attr8   43405 non-null  float64
 8   Attr9   43405 non-null  float64
 9   Attr10  43405 non-null  float64
 10  Attr11  43405 non-null  float64
 11  Attr12  43405 non-null  float64
 12  Attr13  43405 non-null  float64
 13  Attr14  43405 non-null  float64
 14  Attr15  43405 non-null  float64
 15  Attr16  43405 non-null  float64
 16  Attr17  43405 non-null  float64
 17  Attr18  43405 non-null  float64
 18  Attr19  43405 non-null  float64
 19  Attr20  43405 non-null  float64
 20  Attr21  43405 non-null  float64
 21  Attr22  43405 non-null  float64
 22  Attr23  43405 non-null  float64
 23  Attr24  43405 non-null  float64
 24  Attr25  43405 non-null  float64
 25  Attr26  43405 non-null  float64
 26  Attr27  43405 non-null  float64
 27  Attr28  43405 non-null  float64
 28  Attr29  43405 non-null  float64
 29  Attr30  43405 non-null  float64
 30  Attr31  43405 non-null  float64
 31  Attr32  43405 non-null  float64
 32  Attr33  43405 non-null  float64
 33  Attr34  43405 non-null  float64
 34  Attr35  43405 non-null  float64
 35  Attr36  43405 non-null  float64
 36  Attr37  43405 non-null  float64
 37  Attr38  43405 non-null  float64
 38  Attr39  43405 non-null  float64
 39  Attr40  43405 non-null  float64
 40  Attr41  43405 non-null  float64
 41  Attr42  43405 non-null  float64
 42  Attr43  43405 non-null  float64
 43  Attr44  43405 non-null  float64
 44  Attr45  43405 non-null  float64
 45  Attr46  43405 non-null  float64
 46  Attr47  43405 non-null  float64
 47  Attr48  43405 non-null  float64
 48  Attr49  43405 non-null  float64
 49  Attr50  43405 non-null  float64
 50  Attr51  43405 non-null  float64
 51  Attr52  43405 non-null  float64
 52  Attr53  43405 non-null  float64
 53  Attr54  43405 non-null  float64
 54  Attr55  43405 non-null  float64
 55  Attr56  43405 non-null  float64
 56  Attr57  43405 non-null  float64
 57  Attr58  43405 non-null  float64
 58  Attr59  43405 non-null  float64
 59  Attr60  43405 non-null  float64
 60  Attr61  43405 non-null  float64
 61  Attr62  43405 non-null  float64
 62  Attr63  43405 non-null  float64
 63  Attr64  43405 non-null  float64
 64  class   43405 non-null  object
dtypes: float64(64), object(1)
memory usage: 21.9+ MB

In [119]:
# Make target variable and data variable
y = df[['class']]
X = df.loc[:, df.columns != 'class']

In [120]:
y

     class
0        0
1        0
2        0
3        0
4        0
...    ...
5905     1
5906     1
5907     1
5908     1
5909     1

[43405 rows x 1 columns]

In [ ]:
# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    test_size = 0.2,
                                                    random_state = 42)

# Create a random forest model
rfc = RandomForestClassifier(n_estimators = 100)

# Train the model on the training data
rfc.fit(X_train, y_train)

# Predict on the testing data
y_pred_rfc = rfc.predict(X_test)

# Calculate the accuracy of model
rfc_accuracy = accuracy_score(y_test, y_pred_rfc)

print('Accuracy:', rfc_accuracy) # 0.9625482990972695

<ipython-input-121-e8257db0fd53>:11: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rfc.fit(X_train, y_train)

In [41]:
accuracy = []
recall = []

skf = StratifiedKFold(n_splits=5,shuffle=True,random_state=42)
# Split the dataset into training and testing sets

for train, test in skf.split(X,y.flatten()):
    X_train, X_test = X.iloc[train],X.iloc[test]
    y_train, y_test = np.take(y.flatten(),train), np.take(y.flatten(),test)

    # Create a random forest model
    rfc = RandomForestClassifier(n_estimators = 100)

    # Train the model on the training data
    rfc.fit(X_train, y_train)


    # Predict on the testing data
    y_pred = rfc.predict(X_test)

    #confusion matrix
    cr = classification_report(y_test,y_pred, output_dict=True)
    accuracy.append(cr.get('accuracy'))
    recall.append(cr.get('1').get('recall'))
    print(cr)

AttributeError: ignored